body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: transparent;
    color: white;
    padding: 30px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    color: violet;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: violet;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
}

nav a:hover {
    color: white;
}

.pic {
    height: 500px;
}

main {
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
}

.project {
    margin-bottom: 20px;
   
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 50px;
    }

    header p {
        font-size: 16px;
    }
}
.body{
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    color: violet;
}
.container h2{
    color: white;
    font-family: 'Tangerine';
}
.container p{
    color: white;
}
.container h1{
    font-size: 180px;
    font-family: 'Tangerine';
    color: violet;
    height: fit-content;
    text-align: center;
}
.container h5{
    color: white;
    font-size: xx-large;
    font-family:   'Tangerine';
}
.container h3{
    color: white;
    font-family: 'Tangerine';
    font-size: 50px;
}
.img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.nav{
    height: 0%;
}
.tv{
    float: right;
}